/********** GENERAL  *************/
* {
	box-sizing: border-box ;
}

body {
	font-family: 'Nunito', sans-serif;
	margin: 0px;
}

header {
	background: #00a6ff;
	text-align: center;
	padding:20px;
}

header img {
	width: 180px;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix::after {
	content:"" ;
	clear: both;
	display: table;

}

/********** NAVIGATION  ************/
header li {
	display: inline-block;
	padding: 6px 8px 6px 8px;
	font-size: 24px;
	
} 

header li:hover {
	background-color: #007beds;
}

nav {
	list-style-type: none;
	background-color: #009aed;
	border: 1px black solid;
}

nav a {
	text-decoration: none;
	color: black;
}

/*********** GALLERY   ***************/

#gallery {
	padding-top: 15px;
	padding-bottom: 15px;
}
#gallery img {
	width: 100%;
}

#gallery .item {
	float: left;
	width: 50%;
	padding: 15px;
}

#gallery .caption {
	background-color: #f0f0f0;
	padding: 10px;
}

#gallery .caption p {
	margin: 0;

}
/***********  FOOTER ***/

footer.main {

}

@media only screen and (min-width: 568px) {
	body {
		background: red;
	}
}

/********* CITIES SKYLINE  *********/

#CitiesSkylineNav {
	list-style-type: none;
	background-color: #009aed;
	border: 1px black solid;
	margin: 1px;
}

#CitiesSkylineNav a {
		text-decoration: none;
		color: black;
}