/********** GENERAL  *************/
* {
	box-sizing: border-box ;
}

body {
	font-family: 'Nunito', sans-serif;
	margin: 0px;
}

.clearfix::after {
	content:"" ;
	clear: both;
	display: table;

}

.active {
		background: #26b2fc;
		border-radius: 3px ;
}

img {
	width: 100%;
}

#costruzione {
	font-size: 48px;
	text-align: center;
}

main {
	min-height: calc(100vh - 235.500px - 150.594px);
	padding-top: 245.5px;
}

/****** HEADER  **/

header {
	background: #00a6ff;
	text-align: center;
	padding:20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

header img {
	width: 120px;
}
header .logo-container{

}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}


/********** NAVIGATION  ************/
header li {
	display: inline-block;
	padding: 6px 8px;
	font-size: 24px;
	
} 

header li:hover {
	background-color: #007beds;
}

nav {
	list-style-type: none;
	background-color: #009aed;
	border: 1px black solid;
}

nav a {
	text-decoration: none;
	color: black;
}

body a {
	text-decoration: none;
	color: black;
}

/*********** GALLERY   ***************/

#gallery {
	padding-top: 15px;
	padding-bottom: 15px;
}
#gallery img {
	width: 100%;
}

#gallery .item {
	float: left;
	width: 33%;
	padding: 15px;
}

#gallery .caption {
	background-color: #f0f0f0;
	padding: 10px;
}

#gallery .caption p {
	margin: 0;

}
#gallery .picture {
	line-height: 0;
}

/******** ABOUT ********/

#about img {
	padding: 25px;
	width: 100%;
	max-width: 360px;
}

/***********  FOOTER ***/

footer.main {
	text-align: center;
	padding: 15px;
}

footer.main img{
	width: 30px;
}

footer.main a {
	display: : inline-block;
	padding: 5px 10px;
}

footer.main p {
	font-size: 0.8rem;
}


@media only screen and (min-width: 768px) {

/*********** GALLERY 2  **********/
	#gallery .item {
		width: 33,3333%;
	}
	#gallery .item:nth-child(3n+1) {
	clear:  left;
	}
	
	/******** ABOUT 2 ********/
	#about .profile-pic {
		float: left;
		width: 50%;
		padding: 25px;
		text-align: center;
	}
	#about .description {
		float: right;
		width: 50%;
		padding: 25px;
	}
		/******** CONTATTI 2 ********/
	#contacts .info {
		float: left;
		width: 70%;
		padding: 25px;
		text-align: left;
	}
	#contacts .contact {
		float: right;
		width: 30%;
		padding: 25px;
	}
}
@media only screen and (min-width: 968px) {

	nav a: {
		transition: background .3s ;
	}

	nav a:hover {
		background: #26b2fc;
		border-radius: 3px ;
	}
	#CitiesSkylineNav a:hover {
		background: #26b2fc;
		border-radius: 3px ;
	}

	#gallery .item {
			width: 50%;
			transition: opacity .3s;
	}

	#gallery .item:nth-child(2n+1) {
		clear:  left;
	}

	#gallery .item:hover {
		opacity: .7;
	}
}


/********* CITIES SKYLINE  *********/

#CitiesSkylineNav {
	list-style-type: none;
	background-color: #009aed;
	border: 1px black solid;
	margin: 1px;
}

#CitiesSkylineNav a {
		text-decoration: none;
		color: black;
}