/********** GENERAL  *************/
* {
	box-sizing: border-box ;
}
html, body{
	height: 100%;
}
body {
	font-family: 'Nunito', sans-serif;
	margin: 0px;
	background: #26b2fc;
}

.clearfix::after {
	content:"" ;
	clear: both;
	display: table;

}

.active {
		background: #26b2fc;
		border-radius: 3px ;
}

img {
	width: 100%;
}

.costruzione {
	font-size: 48px;
	text-align: center;
}

.cosh2 {
	font-size: 36px;
	text-align: center;
}

main {
	min-height: calc(100vh - 132.594px);
	padding-top: 155.5px;
}
#about .profile-pic {
	text-align: center;
}

.TxtBi {
	color: #f0f0f0;
}



/****** HEADER  **/

header {
	background: rgba(0, 166, 255, 0.7);
	text-align: center;
	padding:5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

header img {
	width: 110px;
}
header .logo-container{

}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-est {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

#title {
	display: flex;
	justify-content: center;
}


/********** NAVIGATION  ************/
header li {
	display: inline-block;
	padding: 6px 8px;	
} 

header li:hover {
	background-color: #26b2fc;
}
nav ul{
	margin: 0;
	padding: 0;
}

header #CitiesSkylineNav ul{
	margin:  1px 0;
	padding: 0;
	border: 1px black solid;
}

nav {
	list-style-type: none;
	border: 1px black solid;
}


nav li a {
	text-decoration: none;
	color: black;
}

body a {
	text-decoration: none;
	color: black;
}
/*********** Hero ********/
 .btn {
	display: inline-block;
	background:  #F5A623;
	padding: 12px 24px;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	transition: background .3s;
  border-radius: 25px;
	}

	.btn:hover {
		background: #f58e23;
	}

	#hero {
    position: relative;
	}

  #hero:after {
    background:
                url("../Immagini/CSSfondo.jpg") no-repeat center fixed;
		background-size: cover;
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    height: 600px;
    z-index: -10;
  }

	#hero .hero-caption{
		text-align: center;
		padding: 180px 20px;
	}
	#hero .hero-caption-est{
		text-align: center;
		padding-top: 180px;
		padding: 20px;
		margin: 180px 20px;
		background-color: rgba(250, 250, 250, 0.7);
		border-radius: 15px;	
	}
	


  #hero h1 {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
  #hero h2 {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  }
/*********** GALLERY   ***************/


.gallery {
  padding: 20px;
  background: #fff;
  transform: translateY(-250px);
  border-radius: 10px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
}

#gallery {
	background: url("../Immagini/dfondoGal.jpg") no-repeat center fixed;
	background-size: cover;
	padding-bottom: 25px;
}
.gallery {
	display:  flex;
	flex-wrap: wrap;
}
#gallery a {
  display: block;
  box-shadow: 10px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#gallery img {
	width: 100%;
}

#gallery .item {
	flex: 1 1 50%;
	padding: 15px;
}
#gallery .item:hover {
  transform: scale(1.2);
  opacity: .7;
}

#gallery .caption {
	background-color: #f0f0f0;
	padding: 10px;
}

#gallery .caption p {
	margin: 0;

}
#gallery .picture {
	line-height: 0;
}

/******* estrazioni-ctn *********/
.main-est {
	padding: 20px;
	background: #fff;
	transform: translateY(-250px);
	border-radius: 10px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
	display:  flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin: 0 auto;
	
	background: url("../Immagini/dea-bendata.jpg") no-repeat center;
	background-size: cover;
  }

  #estrazioni-ctn {
	background: url("../Immagini/lotto.jpg") no-repeat center fixed;
	background-size: cover;
  }



.ruota {
	display: flex;
	gap: 10px;
	align-items: center;
  }
  .nazionale {
	border-top: 1px solid #ccc;
  }

  .main-est {
	font-family: sans-serif;
	max-width: 700px;
	width: 90%;
	margin: auto;
  }

  h2.ruota-title {
	width: 150px;
  }

  .ruota-estrazione {
	  background-color: rgba(250, 250, 250, 0.7);
	  width: 40px;
	  height: 40px;
	  vertical-align: middle;
	  text-align: center;
	  display: grid;
	  place-items: center;
	  border-radius: 50%;
  }

  .ruota-estrazione > p {
	  padding: 0;
	  
	  margin: auto;
  }


/******* ABOUT ********/
#about {
	margin-top: 150px;
	background: url("../Immagini/about.jpg") no-repeat center fixed;
	background-size: cover;	
  padding: 70px 0;
  
}

#about img {
	padding: 25px;
	width: 100%;
	max-width: 360px;
}
 #about .description{
	background: rgba(250, 250, 250, 0.7);
	border-radius: 3%;
 }
#contacts {
	padding: 40px;
}

/***********  FOOTER ***/

footer.main {
	text-align: center;
	padding: 15px;
}

footer.main img{
	width: 30px;
}

footer.main a {
	display:: inline-block;
	padding: 5px 10px;
}

footer.main p {
	font-size: 0.8rem;
}

/*********|| 768PX || *********/

@media only screen and (min-width: 768px) {

/*********** GALLERY 2  **********/

#gallery .item {
	flex: 0 1 33.3333%;
}
	
	/******** ABOUT 2 ********/
	#about .profile-pic {
		float: left;
		width: 50%;
		padding: 25px;
		text-align: center;
	}
	#about .description {
		float: right;
		width: 50%;
		padding: 25px;
	}
		/******** CONTATTI 2 ********/
	#contacts .info {
		float: left;
		width: 70%;
		padding: 25px;
		text-align: left;
	}
	#contacts .contact {
		float: right;
		width: 30%;
		padding: 25px;
	}
}
@media only screen and (min-width: 968px) {

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header .logo-container{
	}

	li:hover {
		transition: background .3s ;
	}

	li:hover, .active {
		background: #009aed;
		border-radius: 3px ;
	}




	#CitiesSkylineNav a:hover {
		background: #26b2fc;
		border-radius: 3px ;
	}


}
	@media only screen and (min-width: 991px) {

	nav {
		border: 0;
	}


}


