* {
  box-sizing:  border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    url("img/sfondo_vis.jpg") no-repeat center fixed;
		background-size: cover;
}

/* Modal */
.body{
  padding: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.btn:active{
  transform: scale(0.9);
}

.close-modal {
  background-color: transparent;
  border: none;
  font-size:  1.5rem;
}

.modal {
  width: 450px;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease-in-out;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
}

.modal.active {
  top: 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #ccc;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay.active{
  display: block;
}

/* TODO */

.todo-container{
  width: 700px;
  height: 60vh;
  display: flex;
}

.status{
  width: 50%;
  background-color: rgba(250, 250, 250, 0.4);
  position: relative;
  padding-top: 60px;
  padding: 60px 1rem 0.5rem;
}
.status:nth-child(even){
  background-color: rgba(250, 250, 250, 0.555);;
}

.status h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343434;
  color: #f3f3f3;
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

#add_btn{
  padding:  0.5rem 1rem;
  background-color: #ccc;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover{
  background-color: #aaa;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
          rgba(15, 15, 15, 0.1) 0px 0px 2px 4px;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.todo .close, .icon{
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.todo .close:hover{
  color: #343434;
}

#todo_input,
#todo_submit {
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 0.25rem;
}

#todo_submit{
  background-color: #4caf50;
  color: #f3f3f3;
  font-size: 1.2rem;
  border: none;
}